version: '3.8'

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: plugplay
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d plugplay"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - webnet

  api:
    build:
      context: .
      dockerfile: backend/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=plugplay;Username=myuser;Password=mypassword"
      Jwt__Issuer: "plugplay"
      Jwt__Audience: "your-app-users"
      Jwt__Secret: "Q3dXV2Z2dFhEVUpGbWxzUzZsSEdkc3N1RkU0cENzZ3Nid2pkYmE1c3RVRjQ="
      TokenOptions__TokenExpirationMinutes: "180"
      TokenOptions__RefreshTokenExpirationDays: "7"
      GoogleAuth__ClientId: "103104858818-t81fh5qs9t74135p630o4kkd7nbkiaj4.apps.googleusercontent.com"
      GoogleAuth__ClientSecret: "${GOOGLE_CLIENT_SECRET}"
      ASPNETCORE_FORWARDEDHEADERS_ENABLED: "true"
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - webnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - webnet

  nginx:
    image: nginx:stable
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx/:/etc/nginx/conf.d/:ro
      - ./deploy/certs:/etc/nginx/certs:ro
    depends_on:
      - api
      - frontend
    networks:
      - webnet

volumes:
  pgdata:

networks:
  webnet: